/* abstracts/_variables.css */
:root {
    --main-color: #66aeee;
    --primary-blue: #3b82f6;
    --hoverDark: #489DE8;
    --hoverLight: #e3effa;
    --hoverBlue: #66afee3b;
    --white: #fff;
    --black: #000;
    --dark: #4f4f4f;
    --bg-main: #dfdfdf25;
    --bg-secondary: #f1f7fd;
    --bgDot-color: #F0F7FD;
    --border: #c5c5c536;
    --border-soft: #dbeafe;
    
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    
    --main-font: "Neo Sans Arabic";
    --shadow-premium: 0 8px 20px rgba(15, 23, 42, 0.12);
    --transition: all 220ms ease;
}
